<main id="background">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <h4 class="m-3 pb-1 text-white">
        <span class="text-primary">holy</span>Calendar
      </h4>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white" aria-current="page">
          <i class="bi bi-house me-2"></i>Inicio
        </a>
      </li>
      <li>
        <a href="asistencias" class="nav-link text-white">
          <i class="bi bi-calendar3 me-2"></i>Mis eventos
        </a>
      </li>
      <li>
        <a href="admin" class="nav-link active">
          <i class="bi bi-pencil-square me-2"></i>Administración
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/ui/images/user.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{@SESSION.user_name}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{{@BASE}}/disconnect">Desconectar</a></li>
      </ul>
    </div>
  </div>
  <div class="bg-dark p-4 rounded-4 text-white m-auto d-flex flex-column align-content-center" id="container">
    <div class="row">
      <h5>Filtrar por fechas</h5>
      <div class="form-group mb-3 col">
        <label for="min" class="form-label">Fecha de comienzo</label>
        <input type="date" class="datetimepicker form-control" id="min" name="min">
      </div>
      <div class="form-group mb-3 col">
        <label for="max" class="form-label">Fecha de fin</label>
        <input type="date" class="form-control" id="max" name="max" datepicker="false">
      </div>
    </div>
    <table class="table table-striped table-hover table-light table-responsive" id="myTable"
      aria-describedby="myTable_info" data-order='[[ 4, "asc" ]]'>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Organizador</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora de inicio</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Participantes</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <repeat group="{{ @anteriores_eventos }}" value="{{ @evento }}">
          <tr>
            <th>{{trim(@evento.id)}}</th>
            <th>{{trim(@evento.title)}}</th>
            <td>{{trim(@evento.organizer)}}</td>
            <td>{{trim(@evento.date)}}</td>
            <td>{{trim(@evento.hour)}}</td>
            <td>{{trim(@evento.ubication)}}</td>
            <td><button class="btn btn-primary" id="descriptionModal{{ trim(@evento.id) }}" data-toggle="modal"
                data-target="#participantsModal"
                onclick="participantsModal(this.id); loadParticipants('{{ trim(@evento.id) }}');">
                <i class="bi bi-search"></i></button></td>
            <td><button class="btn btn-primary" id="descriptionModal{{ trim(@evento.id) }}"
                data-description="{{ trim(@evento.description) }}" onclick="descriptionModal(this.id)"><i
                  class="bi bi-search"></i></button></td>
          </tr>
        </repeat>
      </tbody>
    </table>
  </div>
</main>

<div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="modalDescription"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventTitle"><i class="bi bi-archive"></i> Descripción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Descripción:</strong> <span id="eventDescription"></span></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="participantsModal" tabindex="-1" role="dialog" aria-labelledby="participantsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="participantsModalLabel">Participantes del evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover table-light participantsTable" id="myTable"
          aria-describedby="myTable_info">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th scope="col">¿Asistió?</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<template>
  <form method="POST" action="admin/asistio">
    <input type="hidden" value="" name="participa" id="participa">
    <input type="hidden" value="" name="userId">
    <input type="hidden" value="" name="eventId">
    <button class="btn btn-success" type="submit" id="si-asistio"><i class="bi bi-check2"></i></button>
    <button class="btn btn-danger" type="submit" id="no-asistio"><i class="bi bi-x-lg"></i></button>
  </form>
</template>

<script src="{{@BASE}}/ui/js/dataTables.js"></script>