<div id="agenda">
<div class="row">
  <div class="col-2 bg-dark text-white" id="list-events">
    <h3 class="pt-4">Próximos eventos</h3>
    <hr>
    <ul class="list-next-events scroll">
      <repeat group="{{ @proximos_eventos }}" value="{{ @event }}">
        <li class="next-event p-3" data-event="{{ trim(@event.id) }}">
          <p class="fw-bolder text-primary mb-1">{{ trim(@event.title) }}</p>
          <div class="ms-3">
          <div class="mb-1 truncate" id="event-description">
            <i class="bi bi-archive"></i> <strong>Descripción: </strong><br>
            {{ trim(@event.description)|raw }}</div>
          <p class="mb-1"><i class="bi bi-calendar-event"></i> {{ trim(@event.date) }}</p>
          <p class="mb-1"><i class="bi bi-clock"></i> {{ trim(@event.hour) }}</p>
          <p class="mb-1"><i class="bi bi-person"></i> {{ trim(@event.color) }}</p>
        </div>
        </li>
        <hr>
      </repeat>
    </ul>
  </div>
  <div id='calendar' class="col-10"></div>
</div>
<check if="{{ @SESSION.user_rol==1 }}">
  <div class="modal fade" tabindex="-1" id="modalFechas" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar evento al calendario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="agregar-evento" action="" method="POST">
            <div class="form-group mb-3">
              <label for="titulo">Título:</label>
              <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="form-group mb-3">
              <label for="descripcion">Descripción:</label>
              <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="fecha_inicio">Fecha de inicio:</label>
                  <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" onchange="copyValue(this.value)" required>
                </div>
                <div class="form-group mb-3">
                  <label for="hora_inicio">Hora de inicio:</label>
                  <input type="time" class="form-control" id="hora_inicio" name="hora_inicio" required>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="fecha_fin">Fecha de finalización:</label>
                  <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" required>
                </div>
                <div class="form-group mb-3">
                  <label for="hora_fin">Hora de finalización:</label>
                  <input type="time" class="form-control" id="hora_fin" name="hora_fin" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="color">Organizador:</label>
                  <select class="form-select" aria-label="Elige quien organiza el evento" id="color" name="color">
                    <option selected>Elige quien organiza el evento</option>
                    <option value="#D4AF37">Cofradía</option>
                    <option value="#02cc24">Lagrimas y Favores</option>
                    <option value="#4903fc">Azotes y Columna</option>
                    <option value="#f70505">Exaltación</option>
                    <option value="#000000">Ánimas de ciegos</option>
                    <option value="#0062e3">Mayor Dolor</option>
                    <option value="#014a14">Vera+Cruz y Sangre</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="ubicacion">Ubicación:</label>
                  <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" form="agregar-evento">Agregar evento</button>
        </div>
      </div>
    </div>
  </div>
</check>
</div>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
        <p class="col"><i class="bi bi-calendar-event"></i><strong> Fecha:</strong> <span id="eventDate"></span></p>
        <p class="col"><i class="bi bi-geo-alt"></i><strong> Ubicación:</strong> <span id="eventUbication"></span></p>
        </div>
        <div class="row">
        <p class="col"><i class="bi bi-clock"></i><strong> Hora de inicio:</strong> <span id="eventStart"></span></p>
        <p class="col"><i class="bi bi-clock"></i><strong> Hora de fin:</strong> <span id="eventEnd"></span></p>
        </div>
        <p><i class="bi bi-archive"></i><strong> Descripción:</strong> <span id="eventDescription"></span></p>
      </div>
      <div class="modal-footer">
        <form action="agenda/inscribirse" method="POST">
          <input type="hidden" name="id-user" id="id-user" value="{{@SESSION.user_id}}">
          <input type="hidden" name="id-event" id="id-event" value="">
          <button class="btn btn-primary" id="apuntarse" type="submit">
            <i class="bi bi-calendar-check"></i> Apuntarse
          </button>
        </form>
        <check if="{{ @SESSION.user_rol==1 }}">
          <form action="" method="POST">
            <button type="submit" class="btn btn-success" id="editEvent" aria-label="Edit">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button type="submit" class="btn btn-danger" id="deleteEvent" formmethod="POST">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </form>
        </check>
      </div>
    </div>
  </div>
</div>
<form action="">
<input type="hidden" id="userlRol" value="{{@SESSION.user_rol}}">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
  integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/locales-all.global.min.js"></script>

<script src="{{@BASE}}/vendor/components/jquery/jquery.min.js"></script>

<script src="{{@BASE}}/ui/js/tinyMCE.js"></script>