<div class="row">
<div class="col-2" id="list-events">
  <h3>Próximos eventos</h3>
  <hr>
<template class="list">
  <p id="name-event" class="text-primary fw-bold">Nombre evento</p>
  <p>Fecha: <span id="date-event"></span></p>
  <p>Hora de inicio: <span id="time-event"></span></p>
  <p>Ubicación: <span id="ubication-event"></span></p>
  <hr>
</template>
</div>
<div id='calendar' class="col-10"></div>
</div>
<check if="{{ @SESSION.user_rol==1 }}">
  <div class="modal fade" tabindex="-1" id="modalFechas" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar evento al calendario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="agregar-evento" action="" method="POST">
            <div class="form-group mb-3">
              <label for="titulo">Título:</label>
              <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="form-group mb-3">
              <label for="descripcion">Descripción:</label>
              <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="fecha_inicio">Fecha de inicio:</label>
                  <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
                </div>
                <div class="form-group mb-3">
                  <label for="hora_inicio">Hora de inicio:</label>
                  <input type="time" class="form-control" id="hora_inicio" name="hora_inicio" required>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="fecha_fin">Fecha de finalización:</label>
                  <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" required>
                </div>
                <div class="form-group mb-3">
                  <label for="hora_fin">Hora de finalización:</label>
                  <input type="time" class="form-control" id="hora_fin" name="hora_fin" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="color">Organizador:</label>
                  <select class="form-select" aria-label="Elige quien organiza el evento" id="color" name="color">
                    <option selected>Elige quien organiza el evento</option>
                    <option value="#D4AF37">Cofradía</option>
                    <option value="#02cc24">Lagrimas y Favores</option>
                    <option value="#4903fc">Azotes y Columna</option>
                    <option value="#f70505">Exaltación</option>
                    <option value="#000000">Ánimas de ciegos</option>
                    <option value="#0062e3">Mayor Dolor</option>
                    <option value="#014a14">Vera+Cruz y Sangre</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="ubicacion">Ubicación:</label>
                  <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="agregar-evento">Agregar evento</button>
        </div>
      </div>
    </div>
  </div>
</check>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><i class="bi bi-calendar-event"></i>
          </svg><strong> Fecha:</strong> <span id="eventDate"></span></p>
        <p><i class="bi bi-clock"></i><strong> Hora de inicio:</strong> <span id="eventStart"></span></p>
        <p><i class="bi bi-clock"></i><strong> Hora de fin:</strong> <span id="eventEnd"></span></p>
        <p><i class="bi bi-archive"></i><strong> Descripción:</strong> <span id="eventDescription"></span></p>
        <p><i class="bi bi-geo-alt"></i><strong> Ubicación:</strong> <span id="eventUbication"></span></p>
      </div>
      <div class="modal-footer">
        <form action="agenda/inscribirse" method="POST">
          <input type="hidden" name="id-user" id="id-user" value="{{@SESSION.user_id}}">
          <input type="hidden" name="id-event" id="id-event" value="">
          <button class="btn btn-primary" id="apuntarse" type="submit">
            <i class="bi bi-calendar-check"></i> Apuntarse
          </button>
        </form>
        <check if="{{ @SESSION.user_rol==1 }}">
          <form action="" method="POST">
            <button type="submit" class="btn btn-success" id="editEvent" aria-label="Edit">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button type="submit" class="btn btn-danger" id="deleteEvent" formmethod="POST">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </form>
        </check>
      </div>
    </div>
  </div>
</div>
<input id="prodId" name="prodId" type="hidden" value="{{@json_events}}">
<input id="signin" name="signin" type="hidden" value="{{@participants_json}}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
  integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>