<div class="vh-100 d-flex justify-content-center align-items-center" id="background">
    <div class="w-75 bg-dark p-5 rounded-5 text-white">
        <form action="{{@BASE}}/agenda/actualizar" method="POST">
            <input type="hidden" name="id" value="{{ @evento.id }}">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" name="titulo" id="titulo" class="form-control" value="{{ @evento.titulo }}" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea name="descripcion" id="descripcion" class="form-control" rows="4"
                    required>{{ @evento.descripcion }}</textarea>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
                        <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control"
                            value="{{ @evento.fecha_inicio }}" required>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="fecha_fin" class="form-label">Fecha de fin:</label>
                        <input type="date" name="fecha_fin" id="fecha_fin" class="form-control"
                            value="{{ @evento.fecha_fin }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="hora_inicio" class="form-label">Hora de inicio:</label>
                        <input type="time" name="hora_inicio" id="hora_inicio" class="form-control"
                            value="{{ @evento.hora_inicio }}" required>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="hora_fin" class="form-label">Hora de fin:</label>
                        <input type="time" name="hora_fin" id="hora_fin" class="form-control"
                            value="{{ @evento.hora_fin }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="color">Color:</label>
                        <select class="form-select" aria-label="Select color" id="color" name="color">
                            <option>Elige quien organiza el evento</option>
                            <check if="{{ @organiza=='#D4AF37' }}">
                                <true>
                                    <option value="#D4AF37" selected>Cofradía</option>
                                </true>
                                <else>
                                    <option value="#D4AF37">Cofradía</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#02cc24' }}">
                                <true>
                                    <option value="#02cc24" selected>Lagrimas y Favores</option>
                                </true>
                                <else>
                                    <option value="#02cc24">Lagrimas y Favores</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#4903fc' }}">
                                <true>
                                    <option value="#4903fc" selected>Azotes y Columna</option>
                                </true>
                                <else>
                                    <option value="#4903fc">Azotes y Columna</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#f70505' }}">
                                <true>
                                    <option value="#f70505" selected>Exaltación</option>
                                </true>
                                <else>
                                    <option value="#f70505">Exaltación</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#000000' }}">
                                <true>
                                    <option value="#000000" selected>Ánimas de ciegos</option>
                                </true>
                                <else>
                                    <option value="#000000">Ánimas de ciegos</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#0062e3' }}">
                                <true>
                                    <option value="#0062e3" selected>Mayor Dolor</option>
                                </true>
                                <else>
                                    <option value="#0062e3">Mayor Dolor</option>
                                </else>
                            </check>
                            <check if="{{ @organiza=='#014a14' }}">
                                <true>
                                    <option value="#014a14">Vera+Cruz y Sangre</option>
                                </true>
                                <else>
                                    <option value="#014a14">Vera+Cruz y Sangre</option>
                                </else>
                            </check>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="ubicacion">Ubicación:</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required value="{{@evento.ubicacion}}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-light">Actualizar evento</button>
        </form>
    </div>
</div>