<div class="vh-100 d-flex justify-content-center align-items-center" id="background">
    <div class="w-75 bg-dark p-5 rounded-5 text-white">
        <h1 class="text-center mb-5">Evento en los que participas</h1>
        <table class="table table-light display" id="myTable">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de Inicio</th>
                <th scope="col">Hora de Inicio</th>
                <th scope="col">Organizador</th>
                <th scope="col" class="text-center">Asistencia</th>
              </tr>
            </thead>
            <tbody>
                <repeat group="{{ @listEvents }}" value="{{ @event }}">
                    <tr>
                        <td>{{ trim(@event.title) }}</td>
                        <td><button class="btn btn-primary" id="descriptionModal{{ trim(@event.id) }}" data-description="{{ trim(@event.description) }}" onclick="descriptionModal(this.id)">Ver descripción</button></td>
                        <td>{{ trim(@event.date) }}</td>
                        <td>{{ trim(@event.hour) }}</td>
                        <td>{{ trim(@event.color) }}</td>
                        <td class="text-center">
                          <form action="asistencias/eliminar" method="POST">
                            <input type="hidden" value="{{ trim(@event.id) }}" name="id-event">
                            <input type="hidden" value="{{ @SESSION.user_id }}" name="id-user">
                            <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                </repeat>
            </tbody>
          </table>
    </div>
</div>

<div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="modalDescription" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventTitle"><i class="bi bi-archive"></i> Descripción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Descripción:</strong> <span id="eventDescription"></span></p>
      </div>
    </div>
  </div>
</div>

<script src="{{@BASE}}/ui/js/dataTables.js"></script>