#agenda {
  overflow: hidden;
}

#tools {
  padding: 0.5vw 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 1.5em;
}

.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

table.fc-col-header a {
  text-decoration: none !important;
  text-transform: uppercase;
}

a.fc-event.fc-event-start.fc-event-end.fc-daygrid-event.fc-daygrid-dot-event {
  cursor: pointer;
}

.next-event {
  list-style: none;
}

.list-next-events {
  padding-left: 0px;
}

.truncate {
display: block; /* Fallback for non-webkit */
display: -webkit-box;
max-width: 400px;
height: 1.4*5*16; /* Fallback for non-webkit (line-height*number-lines*size )*/
margin: 0 auto;
font-size: 16px;
line-height: 1.4;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

div#list-events {
  padding-right: 0;
  height: 80vh;
}

ul.list-next-events {
  height: 100%;
  overflow: auto;
}

.scroll::-webkit-scrollbar, .dataTables_scrollBody::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical, .dataTables_scrollBody::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button, .dataTables_scrollBody::-webkit-scrollbar-button:increment, 
.dataTables_scrollBody::-webkit-scrollbar-button{
  display: none;
} 

.scroll::-webkit-scrollbar:horizontal,  .dataTables_scrollBody::-webkit-scrollbar:horizontal{
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb, .dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track, .dataTables_scrollBody::-webkit-scrollbar-track {
  border-radius: 10px;  
}