body {
  overflow: hidden;
}

#tools {
  height: 5vh;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 1.5em;
}

.fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}

table.fc-col-header a {
  text-decoration: none !important;
  text-transform: uppercase;
}

a.fc-event.fc-event-start.fc-event-end.fc-daygrid-event.fc-daygrid-dot-event {
  cursor: pointer;
}

.next-event {
  list-style: none;
}

.list-next-events {
  padding-left: 0px;
}