section.login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/login.jpg);
  background-size: cover;
}

#background {
  background: url(../images/nazarenos-v+c.jpg);
  background-size: cover;
}

button#apuntarse {
  align-items: flex-start;
  margin-right: auto;
}

#list-events h3 {
  text-align: center;
  margin-bottom: 1em;
}

.col-10 {
  padding-left: 0 !important;
}

#list-events {
  border-right: 1px solid #ddd;
  padding: 1.5em
}
