section.login {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/login.jpg);
  background-size: cover;
}

#background {
  background: url(../images/nazarenos-v+c.jpg);
  background-size: cover;
}

button#apuntarse {
  align-items: flex-start;
  margin-right: auto;
}

#list-events h3 {
  text-align: center;
  margin-bottom: 1em;
}

.col-10 {
  padding-left: 0 !important;
}

#list-events li {
  transition: all 0.5s;
}

#list-events li:hover {
  background-color: #dddddd50;
  cursor: pointer;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

div#list-events {
  padding-right: 0;
}

div#calendar {
  border-left: 1px solid #ddd;
}

select.form-select.form-select-sm {
  color: white;
}

input.form-control.form-control-sm {
  color: white;
}